@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format (woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format (woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

/* Pages */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.navigation{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 531px;
}

.navigation-user {
    max-width: 531px;
    margin-left: auto;
}

.navigation-link {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navigation-booking {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.headline-1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.headline-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.text-1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.text-2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.text-3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.reason {
    display: flex;
    justify-content: space-between;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.reason-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.reason-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.reason-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.advantages-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-transform: uppercase;
}

.advantages {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.phone-number {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url("../images/button.png");
    width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
}

.hotel-search {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.search {
    display: block;
    text-align: center;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-social {
    width: 240px;
}

.footer-number {
    width: 720px;
}

.footer-made {
    width: 240px;
}


/* Catalog */

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

.control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.total {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.hotel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
}

.hotel-card-button-1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
}

.hotel-card-button-2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #7DB54F;
}

.hotel-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
    border-radius: 4px;
}

.pagination-show-more {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
    color: #ffffff; 
    background: #83B3D3;
    border-radius: 4px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #83B3D3;
    border-radius: 4px;
}

.pagination-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background: #F2F2F2;
    border-radius: 4px;
}

/* Images */

.navigation-booking {
    background-image: url("../images/booking.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 37px;
}

.navigation-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.navigation-favorite {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
    width: 31px;
    height: 27px;
}

.welcome {
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
}

.welcome-image {
    width: 458px;
    height: 352px;
    padding-top: 51px;
    padding-left: 371px;
}

.house {
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 384px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.food {
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 384px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.souvenir {
    background-image: url("../images/souvenir.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 384px;
    padding-bottom: 100px;
    padding-right: 100px;
}

.first {
    text-align: center;
    background-image: url("../images/background1.png");
    width: 400px;
}

.second {
    text-align: center;
    background-image: url("../images/background2.png");
    width: 400px;
}

.third {
    text-align: center;
    background-image: url("../images/background3.png");
    width: 400px;
}

.fourth {
    text-align: center;
    width: 400px;
}

.subscription {
    background-image: url("../images/subscription.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
}

.twitter {
    background-image: url("../images/twitter.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
}

.facebook {
    background-image: url("../images/facebook.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 18px;
}

.youtube {
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
}

.htmlacademy-link {
    background-image: url("../images/made.svg");
    background-repeat: no-repeat;
    width: 115px;
    height: 33px;
    padding-bottom: 100px;
    padding-right: 150px;
}

.catalog-search {
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 408px;
}

.button-search {
    background-image: url("../images/background-button.png");
    width: 575px;
    height: 30px;
}