@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Pages */

.main-container {
    flex-grow: 1;
    margin: 0;
}

.page-header {
    margin: 0;
    height: 65px;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.navigation{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 531px;
    list-style-type: none;
}

.navigation-user {
    max-width: 531px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 65px;
}

.navigation-link {
    display: block;
    padding: 19px 33px;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.navigation-booking {
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.headline-1 {
    padding-top: 91px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.headline-2 {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.text-1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    padding-top: 23px;
    padding-bottom: 79px;
}

.text-2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    padding-bottom: 73px;
}

.text-3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

.reason {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    list-style-type: none;
}

.reason-title {
    margin: 0;
    padding-top: 98px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.reason-title-2 {
    margin: 0;
    padding-top: 98px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-transform: uppercase;
}

.reason-number {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.reason-description {
    margin: 0;
    padding: 0 85px 76px 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.advantages-item {
    margin: 0;  
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-transform: uppercase;
}

.advantage {
    margin: 0;
    padding: 20px 75px 79px 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
} 

.advantages {
    margin: 0;
    padding: 26px 70px 77px 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.number {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.phone-number {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url("../images/button.png");
    width: 200px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
}

.hotel-search {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.search {
    display: block;
    text-align: center;
}

/*Footer*/
.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0 55px 0;
}

.footer-social {
    width: 240px;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 20px;
    height: 18px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.footer-number {
    width: 720px;
}

.footer-made {
    width: 240px;
}

.phone-number {
    margin: 0;
}

/* Catalog */

.inner-header-title {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 5px;
}

.catalog-search {
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    min-height: 408px;
}

/*Breadcrumbs*/
.breadcrumbs {
    display: flex;
    margin: 0 0 0 71px;
    padding: 0;
    color: #ffffff;
    list-style-type: none;
}

.breadcrumbs-link {
    margin-right: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: inherit;
}

.catalog-filter {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
}

.sorting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 44px;
    margin-bottom: 42px;
    padding-right: 72px;
    padding-left: 71px;
}

.sorting-type {
   margin-right: auto;
}

.sorting .button-1 {
    width: 48px;
    height: 48px;
  }

.button-1{
    margin-right: 8px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    padding-top: 35px;
    padding-left: 71px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
}

.control-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
}

.total {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding-right: 211px;
}

.hotel-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
    margin: 0;
}

.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin: 0;
}

.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin: 0;
}

.hotel-card-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
    margin: 0;
}

.hotel-card-button-1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    margin: 0;
}

.hotel-card-button-2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #7DB54F;
}

.hotel-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
    border-radius: 4px;
}

/*Pagination*/
.pagination-container {
    display: flex;
    padding: 89px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
  }

.pagination-show-more {
    display: block;
    box-sizing: border-box;
    width: 625px;
    height: 55px;
    margin: 31px 288px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase; 
    color: #ffffff; 
    background-color: #83B3D3;
    border-radius: 4px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 17px 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
}

.amount-type {
    margin-left: auto;
}

.pagination-current {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background: #F2F2F2;
    border-radius: 4px;
}

/* Images */
/*
.navigation-booking {
    background-image: url("../images/booking.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 37px;
}

.navigation-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.navigation-favorite {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
    width: 31px;
    height: 27px;
}
*/
.welcome {
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    text-align: center
}

.welcome-image {
    width: 458px;
    height: 352px;
    padding-top: 51px;
    margin:  0 auto; 
}

.house {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    margin-bottom: 23px;
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    }

.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    margin-bottom: 23px;
    background-image: url("../images/food.svg");
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
}

.souvenir {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    margin-bottom: 23px;
    background-image: url("../images/souvenir.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
}

.first {
    text-align: center;
    background-color: #83B3D3;
    width: 400px;
}

.second {
    text-align: center;
    background-color: rgba(131, 179, 211, 0.12);
    width: 400px;
    height: 384px;
}

.third {
    text-align: center;
    background-color: rgba(131, 179, 211, 0.2);
    width: 400px;
    height: 384px;
}

.fourth {
    text-align: center;
    width: 400px;
    height: 384px;
}

.subscription {
    background-image: url("../images/subscription.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 411px;
}

/*
.twitter {
    background-image: url("../images/twitter.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
}

.facebook {
    background-image: url("../images/facebook.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 18px;
}

.youtube {
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
}

.htmlacademy-link {
    background-image: url("../images/made.svg");
    background-repeat: no-repeat;
    width: 115px;
    height: 33px;
    padding-bottom: 100px;
    padding-right: 150px;
}
*/
.button-search {
    background-image: url("../images/background-button.png");
    width: 575px;
    height: 30px;
}